@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body,
html::before,
body::before,
html::after,
body::after {
  margin: 0;
  padding: 0;
}
