@import '../../assets/colors.scss';

.statsTable {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 600px;

  > :first-child {
    color: $blue;
  }

  > :nth-child(2) {
    color: $yellow;
  }

  > :nth-child(3) {
    color: $green;
  }

  > :nth-child(4) {
    color: $orange;
  }

  > * {
    flex-basis: 0;
    flex-grow: 1;
  }
}